@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.login-container {
  border-top: 8px solid #283e4a;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}

.grid-login {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "imagem-conector text-area-login login-form";
  width: 100%;
  height: 100%;
}

.imagem-conector {
  grid-area: imagem-conector;
  background-color: #9dc6db46;
}
.text-area-login {
  grid-area: text-area-login;
  background-color: red;
}

.login-form {
  grid-area: login-form;
  border-left: 4px solid rgb(7, 13, 92);
}

.image-login {
  width: 100%;
  height: 80%;
  -webkit-box-shadow: 2px 15px 35px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 2px 15px 35px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 15px 35px 0px rgba(0, 0, 0, 0.14);
}

.login-title {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  color: #2f4c5a;
  margin-right: 20%;
  font-size: 40px;
}
