.footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100vw;
  background-color: #2e2e2e;
  padding-top:20px
}

.footer > span {
  margin-right: 5%;
  font-size: 1.16rem;
  margin-top:10px;
  font-weight: 500;
  color: #FFF;
}

